<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316173357953-u0llhuvv5ksr8hm0kotrl1lklmf26ihi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316173357953-u0llhuvv5ksr8hm0kotrl1lklmf26ihi</string>
	<key>API_KEY</key>
	<string>AIzaSyCynKue_xkcvr8EoVKAj9VZvHppMMVIXSI</string>
	<key>GCM_SENDER_ID</key>
	<string>316173357953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thedevelopark.OneMomForAll</string>
	<key>PROJECT_ID</key>
	<string>one-mom-for-all-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>one-mom-for-all-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316173357953:ios:6c72211692191eac0a0e80</string>
	<key>DATABASE_URL</key>
	<string>https://one-mom-for-all-ios13.firebaseio.com</string>
</dict>
</plist>